/* Scss Document */
.design {
  border: 1px solid red;
  min-height: 50px;
  padding: 10px; }
  .design .menu {
    border: 1px solid green;
    min-height: 50px; }
    .design .menu .item {
      margin: 4px;
      padding: 4px;
      border: 1px solid white; }
