/* Scss Document */
@keyframes m_open {
  0% {
    opacity: 0;
    transform-origin: 0 0; }
  100% {
    opacity: 1;
    transform-origin: 0 0; } }
@keyframes m_close {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden !important; } }
.m_open {
  animation: m_open 1s ease-out; }

.m_close {
  animation: m_open 2s ease-out forwards; }

.design-menu ul {
  min-height: 0px;
  border: 2px solid green;
  transition: 0s all ease-out 0.2s; }
.design-menu .ul_over {
  border: 2px solid green;
  min-height: 40px;
  transition: 0.3s all ease-out 0.5s; }
.design-menu input {
  font-family: tahoma;
  font-size: 9pt;
  border: 0px;
  padding: 2px; }
.design-menu .option {
  position: relative;
  background-color: #aaaaaa;
  padding: 2px;
  border: 2px solid #565656;
  /*
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */ }
.design-menu .hand_ {
  width: 100%;
  height: 5px;
  background-color: aquamarine;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.design-menu .drag-container {
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: black;
  color: white; }
.design-menu > ul {
  border: 1px solid red;
  padding: 0px; }
  .design-menu > ul ul {
    padding-left: 15px; }
.design-menu li {
  list-style: none;
  padding: 0px;
  margin: 1px; }

.design1 {
  border: 2px solid blue;
  padding: 4px;
  min-height: 50px;
  padding: 10px; }
  .design1 .effect-start {
    opacity: 0.5; }
  .design1 .effect-up {
    border-top: 3px solid #00e3ff !important; }
  .design1 .effect-down {
    border-bottom: 3px solid #00e3ff !important; }
  .design1 ul {
    min-height: 0px;
    border: 2px solid green;
    transition: 0s all ease-out 0.2s; }
  .design1 .ul_over {
    border: 2px solid green;
    min-height: 40px;
    transition: 0.3s all ease-out 0.5s; }
  .design1 .hand {
    background-color: green;
    display: inline-block;
    width: 30px;
    color: white;
    height: 22px; }
  .design1 .menu {
    border: 1px solid green;
    min-height: 50px; }
    .design1 .menu .option {
      background-color: rgba(23, 23, 23, 0.59);
      padding: 4px; }
    .design1 .menu .item {
      margin: 4px;
      padding: 4px;
      border: 1px solid white; }
  .design1 .drag-container {
    display: inline-block;
    border: 1px solid #fcffa2;
    width: 30px;
    height: 20px; }
  .design1 .drag-main {
    display: inline-block;
    border: 1px solid #fcffa2;
    width: 40px;
    height: 20px; }
  .design1 .delete {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #bf1f22;
    border: 2px solid #7e080a; }
  .design1 .add {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #1ebf5e;
    color: white; }
