/* Scss Document */
@keyframes m_open {
  0% {
    opacity: 0;
    transform-origin: 0 0; }
  100% {
    opacity: 1;
    transform-origin: 0 0; } }
@keyframes m_close {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden !important; } }
.m_open {
  animation: m_open 1s ease-out; }

.m_close {
  animation: m_open 2s ease-out forwards; }

.design {
  border: 2px solid blue;
  padding: 4px;
  min-height: 50px;
  padding: 10px; }
  .design .effect-start {
    opacity: 0.5; }
  .design .effect-up {
    border-top: 3px solid #00e3ff !important; }
  .design .effect-down {
    border-bottom: 3px solid #00e3ff !important; }
  .design ul {
    min-height: 0px;
    border: 2px solid green;
    transition: 0s all ease-out 0.2s; }
  .design .ul_over {
    border: 2px solid green;
    min-height: 40px;
    transition: 0.3s all ease-out 0.5s; }
  .design .hand {
    background-color: green;
    display: inline-block;
    width: 30px;
    color: white;
    height: 22px; }
  .design .menu {
    border: 1px solid green;
    min-height: 50px; }
    .design .menu .option {
      background-color: rgba(23, 23, 23, 0.59);
      padding: 4px; }
    .design .menu .item {
      margin: 4px;
      padding: 4px;
      border: 1px solid white; }
  .design .drag-container {
    display: inline-block;
    border: 1px solid #fcffa2;
    width: 30px;
    height: 20px; }
  .design .drag-main {
    display: inline-block;
    border: 1px solid #fcffa2;
    width: 40px;
    height: 20px; }
  .design .delete {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #bf1f22;
    border: 2px solid #7e080a; }
  .design .add {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #1ebf5e;
    color: white; }
