html,
body {
  margin: 0px;
  height: 100%;
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 60px 40px 1fr;
      grid-template-rows: 60px 40px 1fr;
  height: 100%;
  overflow: auto;
}

.layout .banner {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: #4e4e4e;
}

.layout .menu {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: #296e80;
}

.layout .body {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: #73507a;
}
/*# sourceMappingURL=main.css.map */