html,
body {
  margin: 0px;
  height: 100%;
  //border:2px solid white;
}


.layout{
  
    display: grid;
    //grid-gap: 4px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 40px 1fr;
    //border:4px solid rgb(167, 167, 167);
    height: 100%;
    overflow: auto;
    //padding:4px;
   

    .banner{
        grid-row: 1;
        grid-column: 1/3;
        background: rgb(78, 78, 78);
    }

    .menu{
        grid-row: 2;
        grid-column: 1/3;
        background: rgb(41, 110, 128);

    }

    .body{
        grid-row: 3;
        grid-column: 1/3;
        background: rgb(115, 80, 122);

    }
}