/* CSS Document */


body, html{
	padding: 0px;
	margin: 0px;
	height: 100%;
}

*{
	box-sizing: border-box;
}
.sevian{
	height: 100%;
	border: 1px solid red;
	
	
	display: flex;
	flex-direction: row;
	
	>*{
		border:1px solid green;
		//flex:1 1 auto;
	}
	
	.panel_left{
		flex:1 1 auto;
		
		display:flex;
		flex-direction: column;
		.p-banner{
			flex:0 0 70px;
		}
		.p-menu{
			flex:0 0 36px;
		}
		.p-main{
			flex:1 1 auto;
		}
		>*{
			
			border:1px solid purple;
		}
		
		.p-main{
			display: flex;
			flex-direction: row;
			
			.m-menu{
				flex:0 0 250px;
			}
			.m-body{
				flex:1 1 auto;
			}
			>*{
				
				border:1px solid blue;
			}
			
		}
	}
	.panel_right{
		flex:0 0 350px;
	}
	
	
	
}

