<wh-layout class="layout">
  <wh-panel id="wh-banner" class="banner"></wh-panel>
  <wh-panel id="wh-menu" class="menu">
    <wh-menu-test></wh-menu-test>
  </wh-panel>
  <wh-panel id="wh-body" class="body"></wh-panel>
</wh-layout> 